ENV=test
DATA_VOLUME_PATH=./data/test_data/public

SHINY_PORT: 3839

# For preprocessing
PREPROCESS_DB_NAME=                 # name of the source database
PREPROCESS_HOST=                    # host address for the source database
PREPROCESS_PORT=                    # port on which to connect to the source database
PREPROCESS_DB_USERNAME=             # username for the source database
PREPROCESS_DB_PASSWORD=             # password for the source database
PREPROCESS_DB_CDM_SCHEMA=           # Schema name in the database to connect the OMOP CDM to
PREPROCESS_SUMMARISE_LEVEL=quarterly  # Level to summarise record counts at (monthly or quarterly)
BUILD_CORES_MAKE=4                  # Number of cores to use for make in docker build

# Low-frequency replacement
LOW_FREQUENCY_THRESHOLD=10
LOW_FREQUENCY_REPLACEMENT=9.99

# For testing
TEST_DB_PATH=./data-raw/test_db/eunomia
